@import "../mixins";
@import "../variables";

.header__background-buttons{
    background-color: black;
    height: 37px;
    width: 44px;
    margin-bottom: 23px;

    .header__close-button{
        position: relative;
    }
    .header__close-button-left, .header__close-button-right {
        position: absolute;
        left: 15px;
        top: 11px;
    }
}

