@import "../mixins";
@import "../variables";

.footer{
    text-align: center;
    padding-bottom: 47px;
    background-color: black;
    padding-left: 35px;
    font-family: 'Roboto', sans-serif;
}

.footer__text{
    color: white;
}

.footer__title{
    display: block;
    color: white;
    padding-top: 38px;
    margin: 0 auto;
    margin-bottom: 8px;
}

.footer__text{
    color: #B9B9B9;
    font-size: 12px;
    line-height: 20px;
    padding-bottom: 25px;
  
}

.footer__icons{
    padding-bottom: 25px;
}
.footer__icon{
    padding-left: 6px;
}

.footer__text-sequel{
    display: none;
}
.footer__contacts{
    display: flex;
    flex-direction: column;
}

.footer__adress{
    color: #B9B9B9;
    font-size: 14px;
    line-height: 24px;
}


@media (min-width: 768px){
  
    .footer__contacts{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .footer__text{
        width: 684px;
        margin: 0 auto;
    }
    .footer__text-sequel{
        display: block;
    }
    .footer__contact{
        margin-right: 9px;
    }
}
