@import "../mixins";
@import "../variables";



.header{
    margin-top: 23px;
    margin-bottom: 38px;
}
.header__nav-lists{
    display: none;
}
.header__navigation{
    display: flex;
    justify-content: end;
}

.header__drop-down-menu{
    width: 182px;
    background-color:#F5F5F5;
    position: absolute;
    top: 60px;
    right: -1px;
}

.header__drop-down-menu-nav-lists{
    display: flex;
    flex-direction: column;
    margin-top: 8px;
}
.header__drop-down-menu-nav-list{
    font-size: 11px;
    line-height: 22px;
    color: #4E4E4E;
    margin-bottom: 10px;
    text-transform: uppercase;
    padding: 0px 13px;
    font-family: $font;
}
.header__drop-down-menu-nav-list:nth-child(1){
    color: #57A4A4;
}
.header__drop-down-menu-nav-list:hover{
    background-color: #E5E5E5;
}

.header__background-img{
    margin: 0 auto;
    width: 100%;
}

@media (min-width: 768px) {
    .header__navigation{
        display: block;
    }
    .header__nav-lists{
        font-family: "Roboto", sans-serif;
        text-transform: uppercase;
        display: flex;
        justify-content: space-between;
        margin-left: 164px;
        margin-right: 164px;
        color: #4E4E4E;
        margin-top: 41px;
        margin-bottom: 45px;

       .header__nav-list{
        font-size: 11px;
        line-height: 22px;
        color: #4E4E4E;

       }

    }
    .header__nav-list:nth-child(1){
        color: #57A4A4;
    }
    .header__nav-list:hover{
        background-color: #E5E5E5;
    }
    
    .header__drop-down-menu{
        display: none;
    }
    .header__background-buttons{
        display: none;
    }
}

