@import "../mixins";
@import "../variables";

*{
    font-family: $font;
}
.container{
    margin: o auto;
}

a{
    color: #B9B9B9;
    font-size: $font-size;
    line-height: 24px;
    list-style: none;
    text-decoration: none;
    cursor: pointer;
}

h2{
    font-weight: bold;
    font-size: $font-size;
    line-height: 22px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

h3{
   color: #4E4E4E; 
   font-weight: bold;
   font-size: $font-size;
   line-height: 30px;
   margin-top: 10px;
   margin-bottom: 2px;
}


@media (min-width: 768px){
    .container{
        width: 768px;
        margin: 0 auto;
    }
}

@media (min-width: 1200px){
    .container{
        width: 1170px;
        margin: 0 auto;
    }
}