
.news__comments-text{
    color: #7C7C7C;
    font-size: 11px;
    line-height: 20px;  
    margin-bottom: 30px;
}
.news__text{
    display: none;
}


.instagram__image:not(:first-child){
    display: none;
}
.instagram__link{
    display: none;
}

@media screen and (min-width: 768px){
    .news__block{
        display: flex;
        margin-bottom: 32px;
    }

    .news__all-text{
        margin-left: 21px;
    }

    .news__text{
        font-size: 14px;
        line-height: 26px;
        color: #5C5C5C;
    }

    .news__text{
        display: block;
        width: 404px;
        margin-bottom: 13px;
    }
    .instagram{
        background-color: rgba(200, 200, 200, 0.1);
        padding-bottom: 40px;
    }
    .instagram__section{
        margin-bottom: 40px;
    }

    .instagram__link{
        font-size: 13px;
        line-height: 22px;
        color: #4E4E4E;
    }

    .instagram__link-block{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .instagram__images{
        display: flex;
        margin: 0 auto;
    }
    .instagram__image:not(:last-child){
        height: 249px;
        margin-right: 9px;
        display: block;
    }
    .instagram__global-title{
        margin-top: 47px;
    }
    .instagram__link{
        display: block;
        margin-top: 47px;
    }

}


@media (min-width: 1200px){
    .news__flex-blocks{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .instagram__image:not(:last-child) {
        height: 285px;
   
    }
    .instagram__image:last-child {
        display: block;
        width: 285px;
    }
}
