@import "variables";

// @mixin flex {
//     display: $display-flev;
//     justify-content: center;
//     flex-direction: column;
// }
// @mixin flex-column-revers {
//     @include flex;
//     flex-direction: column-reverse;
// }

